@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {

    
    /* COLORS */
    --rtc-color-1-wh: #fff; 
    --rtc-color-2-bc: rgba(243, 243, 243, 0.736);
    --rtc-color-3-tx-blue: #06c;
    --rtc-color-4-tx-gray: #000000f2;
    --rtc-color-5-tx-black: #1d1d1f;
    --rtc-color-6-tx-gray-2: #6e6e73;

    /* TEXT-COLOR */
    --rtc-tx-black: var(--rtc-color-5-tx-black);
    --rtc-tx-grey-1:var(--rtc-color-6-tx-gray-2);
    --rtc-tx-grey-2:var(--rtc-color-4-tx-gray);
    --rtc-tx-blue:var(--rtc-color-3-tx-blue);

   /* BACKGROUNDS-COLORS */
   --rtc-bc-primary:var(--rtc-color-2-bc);
   --rtc-bc-secundary:var(--rtc-color-1-wh);

    /* FONTS */
    --rtc-primary-font: "Work Sans", sans-serif;


   /* BORDER RADIUS */
   --rtc-primary-br: 18px;
   
}

/* ---------------HEADER-------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--rtc-primary-font);
  }

  ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.column {
    flex-direction: column;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  body {
    background-color: var(--rtc-color-2-bc);
  }

  #nav-container {
    width: 100%;
    height: 50px;
    font-size: 12px;
    align-items: center;
    gap: 40px;
    background-color: var(--rtc);
  }

  #logo {
    width: 20px;
    align-items: center;
    
  }

  #svg-logo, #svg-serch, #svg-bag {
    width: 100%;
    height: 50px;
    padding-top: 4px;
  }

  #nav-container > li > a {
  color: var(--rtc-tx-grey-2);
  font-weight: 300;
  }

  #svg-menu {
    display: none;
  }

@media (max-width: 390px) {
    #nav-container > li:nth-child(2), 
    #nav-container > li:nth-child(3), 
    #nav-container > li:nth-child(4), 
    #nav-container > li:nth-child(5), 
    #nav-container > li:nth-child(6), 
    #nav-container > li:nth-child(7), 
    #nav-container > li:nth-child(8), 
    #nav-container > li:nth-child(9), 
    #nav-container > li:nth-child(10), 
    #nav-container > li:nth-child(11)  {
        display: none;
        }

    #svg-menu {
        display: flex;
    }

    #nav-container {
        justify-content: flex-start;
        padding-left: 20px;
    } 

    #nav-container > li:nth-child(12) {
        margin-left: 150px;
    }

}

    /* ---------------MAIN-------------------- */


    .main-container {
      background-color: var(--rtc-bc-primary);
      width: 100%;
      height: 100%;
    }

    #span-container {
      width: 100%;
      height: 60px;
      background-color: var(--rtc-bc-secundary);
      align-items: center;
    }

    #span-container > p {
      font-size: 14px;
      font-weight: 400;
      color: var(--rtc-tx-grey-2);
    }
    #box-span {
      font-size: 14px;
      padding-left: 3px;
      color: var(--rtc-tx-blue);
      
    }

    #box-span:hover {
      text-decoration: underline;
    }

    @media (max-width: 390px) {
      #span-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 90px;
        text-align: justify ;
        padding: 10px 10px;
        line-height: 25px;
      }
    }

    /* PRIMER SECCION MAIN */

    .section-container {
      width: 100%;
      height: 45vh;
      display: flex;
      flex-wrap: wrap;
      
    }

    .container-tienda {
      width: 70%;
      display: flex;
      
    }

    .container-tienda > h1 {
      font-size: 48px;
      color: black;
      padding: 0px 120px;
      justify-content: center;
      align-items: center;
      font-weight: 500;
    }

    .container-tienda > h1 >span {
      color: var(--rtc-color-6-tx-gray-2);
    }

  
    .container-help {
      width: 30%;
      flex-direction: column;
    }

    .container-help > div >img {
      width: 60px;
      padding-right: 20px;
      
    }

    #help > h3 {
      font-size: 14px;
      font-weight: 500;
    }

    #help > a {
      font-size: 14px;
      font-weight: 400;
      color: var(--rtc-color-3-tx-blue);
    }

    #box-help {
      justify-content: flex-start;
      padding-bottom: 30px;
    }

    #svg-bubble {
      width: 40px;
      height: 40px;
      display: flex;
      margin-left: 9px;
      margin-right: 10px;
    }

    @media (max-width: 390px) {

      .container-tienda {
        display: flex;
        width: 100%;
      }

       .container-tienda > h1 {
        font-size: 30px;
        width: 100%;
        padding: 20px;
      
       }

       .container-help {
        width: 100%;
       }

       .section-container {
        width: 100%;
        height: 20vh;
        display: flex;
        flex-wrap: wrap;
        }
      }
    
  /* SCROLL PRODUCTS */

  .box-product > img {
    width: 120px;
    height: 90px;
    padding-bottom: 16px;
    
  }


  .products-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
  }

  .products-container::-webkit-scrollbar {
    width: 0;
  }

  .box-product > h4 {
    display: flex;
    font-size: 14px;
    justify-content: space-around;
    font-weight: 500;
  }

  @media (max-width: 390px) {
    .products-container {
    padding-top: 120px;
    }
  }

  /* ----------------------- */

  .apartado > h1 {
    font-size: 30px;
    color: black;
    padding: 0px 120px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }

  .apartado > h1 >span {
    color: var(--rtc-color-6-tx-gray-2);
    padding-left: 8px;
  }

  .apartado {
    padding-bottom: 40px;
  }

  @media (max-width: 390px) {
    .apartado > h1 {
      font-size: 20px;
      padding: 0;
      padding-left: 20px;
    
    }
  }

  /* --------------------------------- */

  .box-promotion > img {
    width: 400px;
    height: 500px;
    border-radius: 25px;
  }

  .promotion {
    padding: 50px;
    height: 80vh;
    position: relative;
    
  }

  .box-promotion {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 1;
  
  }

  #box-content {
    width: 20rem;
    gap: 5px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 30px;
    position: relative;
    color: var(--rtc-color-1-wh);
    top: 0;
    z-index: 2;
  }

  #box-content-2 {
    width: 20rem;
    gap: 5px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 30px;
    position: relative;
    color: var(--rtc-color-5-tx-black);
    top: 0;
    z-index: 2;
  }

  #box-content > h3 {
    font-size: 14px;
  }

  #box-content > h2 {
    font-weight: 600;
  }

  #card-promotion {
    display: flex;
    width: 100%;
    overflow-x: auto;
    padding-left: 70px;
}

#card-promotion::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 390px) {
  .box-promotion > img {
    width: 300px;
    height: 400px;
    
  }

  .promotion {
    padding: 20px;
    height: 60vh;
  }

  #box-content > h2 {
    font-weight: 600;
    
  }

  #responsive-h2 {
    font-size: 14px;
  }

  #responsive-h3 {
    font-size: 14px;
    display: flex;
    width: 80%;
  }
}

    /* -------SECTION CARDS--------- */


     .cards-flex {
      display: flex;
      position: relative;
      padding-bottom: 50px;

     }

     .card-1-g, .card-2-g, .card-3-g {
      border-radius: 25px;
     }



     .card-1-g:hover {
      transform: scale(102%);
      cursor: pointer;
      transition: 1s;
    } 

    .card-2-g:hover {
      transform: scale(102%);
      cursor: pointer;
      transition: 1s;
    } 

    .card-3-g:hover {
      transform: scale(102%);
      cursor: pointer;
      transition: 1s;
      
      
      
    } 
  

     .card-1-g > img {
      width: 480px;
      height: 500px;
      position: relative;
      display: flex;
      border-radius: 25px;
     }

     .card-1-g > span {
      width: 480px;
      height: 64px;
      display: flex;
      position: absolute;
      flex-direction: column;
      top: 0;
      padding-left: 30px;
      padding-top: 20px;
      
     }

     .card-1-g > span > h3 {
      font-size: 12px;
      color: var(--rtc-tx-grey-1);
      font-weight: 500;
     }

     .card-1-g > span > h1 {
      font-size: 28px;
      width: 100%;
      font-weight: 500;
      text-align:start ;
      
     }

     .box-flex-column > div >img {
      width: 480px;
      height: 240px;
      border-radius: 25px;
    }

     .box-flex-column {
      display: flex;
      flex-direction: column;
      width: 480px;
      gap: 17px;
      
     }

     .card-2-g, .card-3-g {
      width: 480px;
      height: 240px;
      margin-left: 25px;
     }

     .card-2-g > h2 {
      position: relative;
      top: -240px;
      width: 480px;
      padding-left: 18px;
      padding-top: 40px;
      font-size: 24px;
      font-weight: 500;
      }

      .card-3-g > h2{
      position: relative;
      bottom: 200px;
      width: 230px;
      font-size: 24px;
      font-weight: 500;
      padding-left: 18px;
      padding-bottom: 100px;
      }

      @media (max-width: 390px) {

        .cards-flex {
          width: 100%;
          overflow-x: auto;
          display: flex;
          flex-wrap: nowrap;
          justify-content: flex-start;
          padding-left: 20px;
        }

        .card-3-g > h2{
          position: absolute;
          bottom: 0;
          width: 230px;
          font-size: 24px;
          font-weight: 500;
          padding-left: 18px;
          padding-bottom: 100px;
          }

          .cards-flex::-webkit-scrollbar {
            width: 0;
          }
        }
    
      /* -----------------FOOTER------------------- */

      footer {
        background-color: var(--rtc-bc-primary);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
      }

      .box-enlaces {
        width: 100%;
        height: 150px;
        padding-left: 120px;
        
      }



      .box-enlaces > h1 {
        padding-bottom: 20px;
        font-weight: 500;
      }

      #enlaces {
        display: flex;
        gap: 25px;
        
         
      }

      #enlaces > a {
        background-color: rgba(0,0,0,.08);
        color: var(--rtc-tx-grey-2);
        padding: 10px 10px;
        font-size: 14px;
        border-radius: 20px;
        min-width: 170px;
         display: flex;
         align-items: center;
         justify-content: center;
         justify-items: center;
      }

      @media (max-width: 390px) {
        
        .box-enlaces {
         padding-left: 20px;
        }

        #enlaces {
          overflow-x: auto;
          
       }

        #enlaces::-webkit-scrollbar {
          width: 0;
        }

        #enlaces > a {
         min-width: 170px;
         display: flex;
         align-items: center;
         justify-content: center;
         justify-items: center;
        }
      }


      .nav-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 80%;
        margin: auto;
        padding-bottom: 50px;
        
      }

      .nav-footer > div > ul {
        font-size: 12px;
        font-weight: 500;
        padding-bottom: 20px;
        

      }

      .nav-footer > div > ul > li {
        padding-bottom: 5px;
        padding-top: 5px;
      }

      .nav-footer > div > ul > li > a {
        color: var(--rtc-tx-grey-1);
        font-size: 12px;
        font-weight: 400;
        
      }

      .nav-footer > div > ul > li > a:hover {
        text-decoration: underline;
      }

      #separacion {
        width: 80%;
        border-bottom: 1px solid; color: rgb(188, 188, 188);
        display: flex;
        margin: auto;
        margin-bottom: 20px;
      
      }

      .nav-footer > div > ul >li:first-child {
        padding-top: 15px;
      }

      @media (max-width: 390px) {
        .nav-footer {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          width: 90%;
          gap: 10px;
        }
      }

      #info {
        padding-left: 120px;
        font-size: 12px;
        font-weight: 300;
        padding-bottom: 20px;
        width: 100%;
      }

      #info > a {
        color: var(--rtc-tx-blue);
        text-decoration: underline;
        
      }

      aside {
        width: 100%;
        padding-bottom: 40px;
        padding-left: 120px;
        font-size: 12px;
        font-weight: 300;
      }

      @media (max-width: 390px) {
        aside {
          padding-left: 20px;
        }


      #info {
        padding-left: 20px;
        
      }
      }



      

      

      

     

        
      




      

         

      



    



  

    



    
    
